
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #b9e7e7;

}

.container1{
    display: flex; 
    flex-direction: column;
    padding: 10px;
    background-color: #ffffff;
    width: 350px;
    gap: 20px;
    border: none;
    border-radius: 20px;

}
.boutton {
    border: none;
  border-radius: 50px;
  background-color: #efeeff;
  color: #857bf0;
  padding: 15px 30px;
  font-size: 16px;
  width: 200px;
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
#my_website{
    margin-top: 3px;
    margin-left: 10px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: #2e3242;
}
.texte{
    margin-top: -20px;
    margin-left: 10px;
    font-family: "Roboto", sans-serif;
    color: #b4b5bb;
}

.imag-1{
    width:30px;
    height:30px;
    border-radius:50%; 
    background-color: #ffedef;
    margin-right: -10px;
    cursor: pointer;
}
.imag-2{
    width:30px;
    height:30px;
    border-radius:50%; 
    background-color: #d2eff3;
    margin-right: -10px;
    cursor: pointer;
}
.imag-3{
    width:30px;
    height:30px;
    border-radius:50%; 
    background-color: #e58391;
    cursor: pointer;
}
.check{
    display: flex;
    align-items: center;
    text-align: center;
    

    
}
.img-button{
    display: flex;
    margin-top: -15px;
    margin-left: 10px;
    align-items: center;
    

}
.icon{
    width:15px;
    height:15px;
    border-radius:50%; 
    background-color: #fafafa;
    border: solid;
    cursor: pointer;
}
i{
    
    cursor: pointer;
    
}
.images{
    margin-left: 155px;
    position: relative;
    
    

}
.check span{
    position: absolute;
    margin-bottom: 0px;
    margin-left: 25px;
}
.inviter{
    border: none;
    border-radius: 50px;
    background-color:#54a0ff;
    color: #c9e1ff;
    padding: 5px 1px;
    font-size: 16px;
    width: 60px;
    margin-left: 5px;
    margin-top: px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    position: absolute;

}
img{
    margin-bottom: 10px;
}


/*      ###################################      */
.icones-messages{
    display: flex;
    
    margin-top: -15px;
    margin-left: 10px;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: #494a4e;
    border: none;
    border-radius: 50px;
    background-color: #ffffff;
    border: 1px solid;
  
    padding: 2px 30px;
    font-size: 16px;
    width: 270px;
   margin-left: 10px;
   
   justify-content: space-between;

}

.point_noir{
    width:15px;
    height:15px;
    border-radius:50%; 
    background-color: #111010;
    cursor: pointer;
    
    
}
.icones-messages-1, .icones-messages-2{
    display: flex;
  
    margin-right: 10px;
    

    
}

